.card {
  color: white;
  width: 360px;
  height: 300px;
  border: 0.5px solid #a3a3a3;
  background: transparent;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
      135deg,
      rgba(32, 160, 153, 0.1) 0%,    // малахитовый
      rgba(65, 105, 225, 0.2) 100%   // лазурный
    );
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: -1;
  }

  &:hover::before {
    opacity: 1;
  }

}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

.logo {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.title {
  font-size: 20px;
  margin: 0;
  line-height: 1.2;
  word-wrap: break-word;
  font-weight: 600;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  height: 150px;
}

.tagWrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
}

.openTag,
.closeTag {
  font-size: 14px;
  color: #a3a3a3;
  font-family: monospace;
  writing-mode: horizontal-tb;
}

.verticalLine {
  width: 1px;
  height: 100px;
  background-color: #a3a3a3;
  margin: 5px 0;
  flex-grow: 1;
}

.description {
  font-size: 15px;
  line-height: 1;
  margin: 0;
  flex-grow: 1;
  white-space: pre-line;

  @media (max-width: 479px) {
    font-size: 14px;
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: auto;
  padding-top: 15px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
}

.card:hover .buttonContainer {
  opacity: 1;
  transform: translateY(0);
}

.gistButton {
  background: transparent;
  border: none;
  color: #ff8c00;
  font-family: 'Courier New', monospace;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 0 8px 16px;
  border-radius: 4px;
  transition: all 0.3s ease;
  position: relative;
  
  text-shadow: 
    0 0 1px rgba(255, 140, 0, 0.8),
    0 1px 2px rgba(255, 140, 0, 0.6),
    0 2px 4px rgba(255, 140, 0, 0.4),
    0 4px 8px rgba(255, 140, 0, 0.2);
  
  &:hover {
    color: #ffa500;
    transform: translateY(-1px);
    text-shadow: 
      0 0 2px rgba(255, 165, 0, 0.9),
      0 2px 4px rgba(255, 165, 0, 0.7),
      0 4px 8px rgba(255, 165, 0, 0.5),
      0 6px 12px rgba(255, 165, 0, 0.3);
  }
  
  &:active {
    transform: translateY(0);
    text-shadow: 
      0 0 1px rgba(255, 140, 0, 0.8),
      0 1px 2px rgba(255, 140, 0, 0.6);
  }
}