.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 150px;
  cursor: pointer;
  transition: transform 0.8s ease-in-out;

  &:hover {
    transform: translateY(-10px);

  }
}

.icon {
  margin-bottom: 10px;
  color: #97a7bd7d;
    
  &:hover {
    color: rgba(65, 105, 225, 0.5); 
  }

}

.label {
  font-size: 20px;
  font-weight: 400;
  color: #f5f9f9;
}