// src/components/Content/Terminal/index.module.scss
.terminal {
  font-family: 'Courier New', monospace;
  //width: 600px;
  font-size: 25px;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(115, 62, 248, 0.8);
}

.text {
  letter-spacing: 1px;
}

.cursor {
  animation: blink 1s infinite;
  margin-left: 2px;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}