.content {
  position: relative;
  width: 100%;
  z-index: 1;
}

.header {
  height: 100px;
  width: 100%;
  color: white;
}

.main {
  width: 100%;
}

.footer {
  height: 230px;
  width: 100%;
  color: white;
}